* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0.5rem;
  /* outline: 1px solid red; */
}

body {
  width: 60vw;
  margin: 0 auto;
  font-family: 'Courier New';
  padding: 2rem;
}