.Ad {
    background-color: #b4a7d6;
    grid-area: adv;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200ms ease;
}

.Ad:hover {
    transform: scale(1.025);
    user-select: none;
    cursor: pointer;
}