.boxYellow {
    background-color: #ffd966;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    transition: transform 200ms ease;
}

.boxYellow:hover {
    transform: scale(1.025);
    user-select: none;
    cursor: pointer;
}