.nav {
    background-color: #6fa8dc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 80%;
    transition: transform 200ms ease;
}

.nav:hover {
    transform: scale(1.025);
    user-select: none;
    cursor: pointer;
}